<ion-view view-title="Home" class="home_screen">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
				</button>
    </ion-nav-buttons>
    <ion-content class="background_color">
        <div style="margin-top: 50%">
            <div class=" max_width">
                <button class="btnCustom col-12 row " ui-sref="app.dashboard"><span class="fa fa-barcode col-2 iconBtn"></span><span class="size col-10" >Barcode Search</span></button>
            </div>
            <div class=" max_width">
                <button style="background-color: #A9A9A9" ui-sref="app.scan_mail" class="btnCustom col-12 row"><span class="iconBtn fa fa-print col-2"></span><span class="size col-10" >Scan Container Mailing</span></button>
            </div>
            <div class="max_width">
                <button style="background-color: #A9A9A9" class="btnCustom col-12 row"><span class="iconBtn fa fa-address-book col-2"></span><span class="size col-10" >   Validate</span></button>
            </div>           
        </div>
  

    </ion-content>
    <ion-footer-bar style="background: #22364d;">
       	<div style="width: 100%;" class="col-12 row">
			<h6 class="col-6" style="float: left;padding: 2px ;color: #fff">@2017 Bell and Howell, LLC.</h6>
			<h6 class="col-6" style="float: right;padding: 2px;color: #fff;text-align: right;">Version: 1.0123</h6>
		</div>
    </ion-footer-bar>
</ion-view>