<ion-view class="loginView" view-title="Home" hide-nav-bar="true">

	<ion-content class="background_color">

		<img src="img/login_img_top.png" style="width: 100%">


		<div class="list list-inset  custom_div">
			<label class="item item-input custom_input">
    		<input class="custom_inputTxt"  type="text" placeholder="username">
 			 </label>
			<label class="item item-input custom_input ">
  			 <input  class="custom_inputTxt" type="text" placeholder="password">
 			 </label>
		</div>
		<ion-checkbox  class="custom_inputTxt custom_check_box checkbox-square">Remember me</ion-checkbox>

		<div class="custom_div" style="margin-top: 10%">
			<button class="button button-block button-positive custom_button " ui-sref="app.home">
  					Login
			</button>
		</div>


	</ion-content>
	<ion-footer-bar style="background: #22364d;">
		<div style="width: 100%;" class="col-12 row">
			<h6 class="col-6" style="float: left;padding: 2px ;color: #fff">@2017 Bell and Howell, LLC.</h6>
			<h6 class="col-6" style="float: right;padding: 2px;color: #fff;text-align: right;">Version: 1.0123</h6>
		</div>
	</ion-footer-bar>
</ion-view>